<section>
    <div class="container pl-5 pr-5 pt-5">
        <div class="row">
            <form action="/admin/addBanner" method="post" id="addBanner" enctype="multipart/form-data">
                <div>
                    <label class="form-label" for="customFile">Add New Banner</label>
                    <input type="file" name="Image" class="form-control" id="customFile" />
                    <div>
                        <button type="submit" value="Upload" class="btn btn-success mt-4">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>

<script>
    $("#addBanner").validate({
        rules: {

            Image: {
                required: true,
            }
        },
        messages: {

            Image: {
                required: "this field is required"
            }

        }

    }) 
</script>