<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">login</h2>
            <form action="/login" method="post" id="loginPage">
                <div class="form-group">
                    <label for="" class="fw-semibold">Email Address</label>
                    <input type="email" class="form-control" name="Email" placeholder="enter email">
                </div>
                <div class="form-group">
                    <label for=""class="fw-semibold">Password</label>
                    <input type="Password" class="form-control" name="Password" placeholder="password">
                </div>
                {{#if loginErr}}
                <p class="text-danger">{{loginErr}}</p>
                {{/if}}
                <a href="/signup" class="fw-semibold">Create a new account</a>
                <button type="submit" class="btn btn-success float-right">login</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>

<style>
    .error{
        color: red;
    }
</style>
<script>
    $("#loginPage").validate({
        rules: {
            Email: {
                required: true,
                email: true,
            },
            Password:{
                required: true,
            }
        },
        messages: {
            Email: {
                required: "required"

            },
            Password:{
                required: "required"
            }
        }
            
    }) 
</script>